################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
obj/
bin/
appsettings.Development.json
appsettings.json
dotnet-tools.json
PublishProfiles/
/Class4910Api/Class4910Api/Class4910Api.csproj.user
