#Comment
name: Deploy .NET API to EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Publish
      run: dotnet publish -c Release -r linux-x64 --self-contained false -o publish

    - name: Copy files to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "publish/*"
        target: "/var/www/team26api"

    - name: Restart service
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo sed -i '/Environment=DEPLOYED_AT=/d' /etc/systemd/system/team26api.service
          sudo sed -i '/Environment=VERSION=/d' /etc/systemd/system/team26api.service
          sudo sed -i '/Environment=COMMIT_NAME=/d' /etc/systemd/system/team26api.service
    
          echo "Environment=DEPLOYED_AT=$(date -u +"%Y-%m-%dT%H:%M:%SZ")" | sudo tee -a /etc/systemd/system/team26api.service
          echo "Environment=VERSION=${{ github.run_number }}" | sudo tee -a /etc/systemd/system/team26api.service
          echo "Environment=COMMIT_NAME=${{ github.sha }}" | sudo tee -a /etc/systemd/system/team26api.service
    
          sudo systemctl daemon-reload
          sudo systemctl restart team26api
